.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.head__menu{
    display: flex;
}

.head__navegacion{
    display: flex;
}

.head__enlace{
    display: flex;
    padding: 1rem;
    color: #808080;
    text-transform: lowercase;/*para transformar en minusculas*/
    transition: all 0.5s ease-in-out;

}

.head__enlace.frist{
    color: #333333;
    font-weight: bold;
}

.head__enlace:hover{
    text-decoration: underline;
    transform: scale(1.2);
}

@media screen and (min-width: 0){

    .head{
        justify-content: center;
        padding: 0 1rem;
    }
    .head__logo{
        display: none;
    }
}

@media screen and (min-width: 768px){

    .head{
        justify-content: space-between;
        padding: 0 1rem;
    }

    .head__logo{
        display: block;
    }
}