.recetas{

     background-color: #e5e5e5;
     display: flex;
     flex-wrap: wrap;
     padding: 5rem 0 0 5rem;
     justify-content: space-around;
     font-family: 'Roboto', sans-serif;
}

.receta{

    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: 24%
}

.receta__imagen{

    height: 200px;

}

.receta__contenido{
    padding: 1rem;
}

.receta__titulo{

    font-size: 1.4375rem;

}

.receta__descripcion{
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
}

.receta__boton{

    padding: .35rem .8rem;
    background-color: #8D0606;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}

@media screen and (min-width: 0) and (max-width:500px){

    .recetas{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .receta{
        width: auto;
        margin: 0 2rem 5rem 2rem;
    }
    .receta__contenido{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 501px) and (max-width:1000px){

    .receta{

        width: 40%;
        padding: auto;
        margin: auto;
    }
    .recetas{
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        margin: 0;
    }
    
    .receta__contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .receta__titulo{

        font-size: 1rem;
    }

    .receta__descripcion{
        font-size: 0.9rem;
    }
}